/*bytewebster.com*/
/*bytewebster.com*/
/*bytewebster.com*/
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: white;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 3rem 4rem var(--color-light);
    --color-mix: linear-gradient(to right, #4b94f2, #0c70f2);
}

body {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 3rem 4rem var(--color-light);
}
header {
    padding: 20px;
    z-index: 999;
}
.navbar-nav .active {
    background-image: linear-gradient(to right, #4b94f2, #0c70f2);

    margin-left: 0;
}
.navbar-nav .active:before {
    content: "";
    width: 6px;
    height: 100%;
}
nav i {
    color: var(--color-dark) !important;
}
a {
    color: var(--color-dark) !important;
}
p {
    color: var(--color-dark) !important;
}
i {
    color: var(--color-dark) !important;
}
label {
    color: var(--color-dark) !important;
}
h5 {
    color: var(--color-dark) !important;
}
option {
    color: var(--color-dark) !important;
    background: var(--color-background);
}
select {
    color: var(--color-dark) !important;
    background: var(--color-background);
}
.form-control input {
    background: var(--color-background) !important;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    background: linear-gradient(to right, #4b94f2, #0c70f2) !important;
}
.container {
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
    margin: 30px;
}
th {
    color: var(--color-dark) !important;
}
td {
    color: var(--color-dark) !important;
}
.btn btn-sm btn-neutral button {
    color: var(--color-dark) !important;
}
h2 {
    color: var(--color-dark) !important;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-inline .form-select,
.form-inline .form-control {
    margin-right: 10px;
}

.form-select {
    width: 200px;
    height: 50px;
    border: 2px solid #0c70f2;
    font-weight: 600;
}

.form-select:focus {
    box-shadow: none !important;
}

.form-select::after {
    display: none;
}